<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.prcsteel.ec.persist.dao.ec.DemoDao">

	<resultMap id="baseResultMap" type="com.prcsteel.ec.model.domain.ec.Demo">
		<result property="id" column="id" />
		<result property="guid" column="guid" />
		<result property="account" column="account" />
		<result property="password" column="password" />
		<result property="password" column="password" />
		<result property="created" column="created" />
	</resultMap>

	<insert id="insert" parameterType="com.prcsteel.ec.model.domain.ec.Demo" useGeneratedKeys="true"
			keyProperty="id">
		<![CDATA[
			INSERT INTO demo (
				guid,
				account,
				password,
				email,
				created,
				created_by,
				last_updated,
				last_updated_by,
				remark
			)
			VALUES (
				#{guid},
				#{account},
				#{password},
				#{email},
				#{created},
				#{createdBy},
				#{lastUpdated},
				#{lastUpdatedBy},
				#{remark}
			)
		]]>
	</insert>
	
	 <select id="queryUserById" parameterType="Integer" resultType="com.prcsteel.ec.model.domain.ec.Demo">
        SELECT id, guid,
				account,
				password,
				email,
				created,
				created_by,
				last_updated,
				last_updated_by,
				remark FROM demo WHERE id=#{id}
    </select>
    
    <select id="query" resultMap="baseResultMap">
		<![CDATA[
			SELECT id, guid,
				account,
				password,
				email,
				created,
				created_by,
				last_updated,
				last_updated_by,
				remark
			FROM demo
		]]>
	</select>
</mapper>