html{height:100%;overflow:hidden;}
body{height:100%;background:url("../images/2.jpg") bottom center no-repeat #f3ac1e;background-size:100%;font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;}
.t_c{text-align:center;}
.fr{float:right;}
.fl{float:left;}
.clear{clear:both;height: 0;line-height: 0;font-size: 0;visibility: hidden;overflow: hidden;}
.clearfix{*zoom:1}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.none{display:none;}
a,button,input[type='button']{cursor: pointer;}
img{margin:0 auto;}
.main-app{margin-top:8%;height:100%;}
.img-responsive{width:90%;}
.down-btn{width:80%;margin:10%;}
.aver-img{width:50%;margin-top:6%;}
.message{margin-top:20px;}
.btn-bar{
	position:absolute;
	bottom:20px;
	
}
@media (max-width: 768px){
    .main_app .list h1{font-size:30px;}
    h4{font-size: 14px;line-height: 18px;}
}
