<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
    <script type="text/javascript">
        var PATH = "$link.getContextPath()";
    </script>
	<script type="text/javascript" src="$link.getContextPath()/js/jquery-1.11.1.js"></script>
    <script src="$link.getContextPath()/js/demo/message.js" type="text/javascript"></script>
</head>
<body>
<div>
    <h1>Send Message:</h1>
    <ul>
        <li><input id="message" value="hello" /></li>
        <li><input id="count" value="1" /></li>
        <li><button>Send</button></li>
    </ul>
    <h1>New Message:</h1>
    <ul id="msgList">
    </ul>
</div>
</body>
</html>